
/***** MODAL COMPONENT ******/
.modal-component-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 1800;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: openModal .3s alternate;
}
@keyframes openModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.modal-component-container .modal-data {
    background-color: brown;
    border-radius: 1rem;
    width: 95%;
    max-width: 90rem;
    max-height: 92%;
    padding: 2rem;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
}
.modal-component-container .modal-data .close-modal {
    position: absolute;
    right: 0;
    top: 0;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    padding: .8rem;
    border-radius: 50%;
    z-index: 700;
    background-color: brown;
}